.boddy{
     /* Adjust the path to match the location of your image */
    background-size: cover;
    background-position: center;
    background-image: url('./carbg.jpeg');
     
    /* Add any additional styling for the background here */
}
.body::background-img{
    opacity: 0.2;
}


/* C:\xampp\htdocs\GearWise-front_end\gearwise\src\img\carbg.jpeg */
.body{
    content: "";
    background-size: cover;
    background-position: center;
    background-image: url('./carbg1.jpg');
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
}