span{
    color: red;
}
.time-slots {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }
  
  buttona {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
  }
  
  button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  